
table 
{
	border: 0.5px solid lightgray;
	border-radius: 10px;
	border-collapse: collapse;
}
thead {
	background-color: blue;
}
table tr:nth-child(even) {
	background-color: lightgray;
}
td {
	width: 100px;
	height: 35px;
}
tr>td:first-child{
	width:250px;
}



